#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]


    # ------------
    # Tests to run
    # ------------

    exclude = ["install.subdir", "change_url", "install.private", "install.multi"]

    # -------------------------------
    # Default args to use for install
    # -------------------------------

    args.token = "9nVFksmWnF3gWKvQrBSOkviZIQhE5aRv63BG4KJX"
    args.forgejo_url = "https://forgejo.com/"
